.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.btn-nav {
  color: grey;
  &:hover {
  color: black;
}
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: white;
  height: 100px;
}

.logo {
  height: 80px;
  width: 100px;
  background-image: asset-url('logo.jpeg');
  background-size: cover;
  background-position: center;
  opacity: 1;
}
